@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
  @apply w-full bg-blue-500 shadow text-white
}

html{
  font-size: 16px;
}

.about{
  @apply mr-2 hover:rounded-full hover:animate-pulse hover:bg-blue-400 hover:border p-1 border-gray-300
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-group{
  @apply w-full h-14 md:justify-between flex md:flex-row flex-col items-center
}

.form-input{
  @apply rounded-md shadow px-2  md:w-3/4 h-3/4 w-1/2 focus:shadow-inner shadow-blue-200
}
